<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abfresh.in">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Controller.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/launch_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="anroid:icon">
        <activity android:name=".Abfresh.activities.WishlistActivity"></activity>
        <activity android:name=".Abfresh.activities.PromoCodeActivity" />
        <activity android:name=".Abfresh.activities.AddAddressActivity" />
        <activity android:name=".Abfresh.activities.DeliveryListActivity" />
        <activity android:name=".Abfresh.activities.YoutubevideoActivity" /> <!-- android:hardwareAccelerated="true" -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2MstzpRrBbVFNMKBTM259X-OpvekWqxw" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" /> <!-- Disable Badges -->
        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="ENABLE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".Controller.MyNotificationExtenderService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service> <!-- <receiver android:name="com.abfresh.in.Controller.SmsReceiver" -->
        <!-- android:permission="android.permission.BROADCAST_SMS"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <activity android:name="com.tbd.abFresh.MainActivity"  android:clearTaskOnLaunch="true" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:exported="true" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:windowSoftInputMode="adjustResize"> -->
        <!-- <activity android:name="com.tbd.abFresh.MainActivity"  android:clearTaskOnLaunch="true" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:excludeFromRecents="true"> -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Abfresh.activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.CartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.DeliveryDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.PastOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.ReferEarnActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.ShippingDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Abfresh.activities.WalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Abfresh.activities.RewardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Container_Main_Class"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Product_Discription"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartDiscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Delivery_Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Checkout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Proceed_To_Pay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseDelivery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Location_Text_Intent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wallet_Recharge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayPal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReferAndEarn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recipes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecipeProductDiscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddShippingAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThanksPage"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".SearchItem"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".TermsAndCondition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".VerifyOTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TransactionHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Offers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewProductDiscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CouponCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateShippingAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyInvoice"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" /> <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_eRad3o4HTL7VTk" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>